<%- include('../partials/header.ejs')%>
    <section class="content-section">
    <div class="content-wrap divider">
        <section>
         <% if(categoryNames.length != 0) {%>
            <% categoryNames.forEach((category) => { %>
                <h2><%=category %></h2>
                <div class="content-item">
                    <% hackathons.forEach((hackathon) => { %>
                        <% if (hackathon.connection_topic === category ) { %>
                        <ul>
                            <li><a class= "content-btn" href="/hackathons/<%=hackathon.id %>"><%=hackathon.connection_name%></a></li>
                        </ul>
                        <%}
                    })%>
                </div>
             <% } )%>
         <% }else {%>
             <p>No hackathons to display</p>
             <% } %>
        </section>
    </div>
    </section>
<%- include('../partials/footer.ejs')%>
</body>
</html>