<%- include('../partials/header.ejs')%>
    <div class="content-wrap divider">
        <section class="content-item">
            <h2><%= hackathon.connection_name%></h2>
            <img src="<%= hackathon.image_url%>" alt="category-image">
            <p><strong>Host : </strong><%= hackathon.host_name.firstName + ' ' + hackathon.host_name.lastName%></small>
            <p><strong>Date : </strong><%= hackathon.date%></p>
            <p><strong>Time : </strong><%= hackathon.start_time%> - <%= hackathon.end_time%></p> 
            <p><strong>Location : </strong><%= hackathon.location%></p>
            <p><strong>No of people RSVPed for the event <%= rsvps%></strong></p>
            <%if(user == hackathon.host_name._id){%>
            <form>
            <button class = "content-btn" type = "submit" formmethod = "GET" formaction="/hackathons/<%= hackathon.id%>/edit">Update</button>
            <button class = "content-btn" type = "submit" formmethod = "POST" formaction="/hackathons/<%= hackathon.id%>?_method=DELETE">Delete</button>
            </form>
            <%}else{%>
            <p>Rsvp for this event</p>
            <form method="POST">
                <button class = "content-btn-yes" type = "submit" formaction="/hackathons/<%= hackathon.id%>/rsvp" value="Yes" name="rsvp_value">YES</button>
                <button class = "content-btn-no" type = "submit" formaction="/hackathons/<%= hackathon.id%>/rsvp" value="No" name="rsvp_value">NO</button>
                <button class = "content-btn-maybe" type = "submit" formaction="/hackathons/<%= hackathon.id%>/rsvp" value="Maybe" name="rsvp_value">Maybe</button>    
            </form>
            <%}%>
        </section>
        <section class="content-item">
            <h2>Details</h2>
            <p><%= hackathon.details%></p>
        </section>
      </div>
<%- include('../partials/footer.ejs')%>
