<%- include("../partials/header.ejs")%>
        <div class ="content">
        <p>Update Hackthon Details</p>
            <form method = "POST" action = "/meetUp/<%= meet.id%>?_method=PUT">
                <table>
                    <tr>
                        <td><label for="title">Hackthon Name</label></td>
                        <td><input type="text" id="event_title" name="title" value="<%= meet.meet_title%>"></td>
                    </tr>
                    <tr>
                        <td><label for="Date">Date</label></td>
                        <td><input type="date" id="Date" name="Date" value="<%= meet.Date%>"></td>
                    </tr>
                    <tr>
                        <td><label for="start_time">Start Time</label></td>
                        <td><input type="time" id="start_time" name="start_time" value="<%= meet.start_time%>" ></td>
                    </tr>
                    <tr>
                        <td><label for="end_time">End Time</label></td>
                        <td><input type="time" id="end_time" name="end_time" value="<%= meet.end_time%>"></td>
                    </tr>
                    <tr>
                        <td><label for="location">Location of Meetup</label></td>
                        <td><input type="text" id="location" name="location" value="<%= meet.location%>" ></td>
                    </tr>
                    <tr>
                        <td><label for="image">MeetUp Image URL</label></td>
                        <td><input type="text" name="image" id="image" value="<%= meet.image%>" ></td>
                    </tr>
                    <tr>
                        <td><label for="Host">Host Name</label></td>
                        <td><input type="text" id="Host" name="Host" value="<%= meet.Host%>"></td>
                    </tr>
                    
                    <tr>
                        <td><label for="Description">Description of Meetup</label></td>
                        <td><textarea name="Description" id="Description" class = "fixed-width"><%= meet.Description%></textarea></td>
                    </tr>
                    <tr>
                        <td><input type = "submit" value ="Update MeetUP" id ="submit"></td>
                    </tr>
                </table>          
            </form>       
        </div>

<%- include("../partials/footer.ejs")%>










