<%- include("../partials/header.ejs")%>
<div class="content-wrap">
    <form>
        <div class="form-content">
            <label>Title : </label>
            <input type="text" name="name" id="name" value="<%= hackthon.name%>">
        </div>
        <div class="form-content">
            <label>Host : </label>
            <input type="text" name="host" id="host" value="<%= hackthon.host%>">
        </div>
        <div class="form-content">
            <label>Details : </label>
            <textarea rows="4" cols="50" name="details" id="details" form="newconform"><%= hackthon.details%></textarea>
        </div>
        <div class="form-content">
            <label>location : </label>
            <input type="text" name="location" id="location" value="<%= hackthon.location%>">
        </div>
        <div class="form-content">
            <label>Date : </label>
            <input type="date" name="date" id="date" value="<%= hackthon.date%>">
        </div>
        <div class="form-content">
            <label>Start : </label>
            <input type="time" name="start_time" id="start_time" value="<%= hackthon.start_time%>">
        </div>
        <div class="form-content">
            <label>End : </label>
            <input type="time" name="end_time" id="end_time" value="<%= hackthon.end_time%>">
        </div>
        <div class="form-content">
            <label>Image Url : </label>
            <input type="text" name="image" id="image" value="<%= hackthon.image%>"">
        </div>
        <div class="form-content">
            <button class = "content-btn" type = "submit" formmethod = "POST" formaction="/hackthons/<%= hackthon.id%>?_method=PUT">Update Hackthon</button>

        </div>
    </form>

<%- include("../partials/footer.ejs")%>










