<%- include('../partials/header.ejs')%>
    <div class="content-wrap divider">
        <section class="content-item">
            <h2><%= hackthon.name%></h2>
            <img src="<%= hackthon.image%>" alt="category-image">
            <p><strong>Host : </strong><%= hackthon.host%></h4>
            <p><strong>Date : </strong><%= hackthon.date%></p>
            <p><strong>Time : </strong><%= hackthon.start_time%> - <%= hackthon.end_time%></p> 
            <p><strong>Location : </strong><%= hackthon.location%></p>
            <form>
            <button class = "content-btn" type = "submit" formmethod = "GET" formaction="/hackthons/<%= hackthon.id%>/edit">Update</button>
            <button class = "content-btn" type = "submit" formmethod = "POST" formaction="/hackthons/<%= hackthon.id%>?_method=DELETE">Delete</button>
            </form>
        </section>
        <section class="content-item">
            <h2>Details</h2>
            <p><%= hackthon.details%></p>
        </section>
      </div>
<%- include('../partials/footer.ejs')%>
